<%-include('./partial/header.ejs')%>

    <div>
        <br><br>
    </div>

    <!-- ----------------------------Search and Add product --------------------------->
    <div class="container d-flex justify-content-between">
        <a href="/admin/add_Product" class="open-button btn btn-outline-success" >Add Product</a>

   </div> <br><br>

      <!-- ---------------------------------Search and add products ends----------------->

  


      <!-- ---------------------------------Tables-------------------------------------- -->
    <div class="container">

    <% if(productData!=null) {%> 
     <table class="table table-bordered">
        <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col"> Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Flag</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <% productData.forEach(function(productData){  %> 
                <tr>

                    <td><%= productData.name %> </td>
                    <td><img src="/Admin/assets/product/<%=productData.image%>" alt="product image"  height="70px" width="60px"></td>
                    <td><%=productData.author %> </td>
                    <td><%=productData.category  %> </td>
                    <td><%=productData.stock  %></td>
                    <td><%=productData.price%></td>
                    <td><%=productData.status  %> </td>
                    <td><%=productData.flag  %> </td>
                    <td><a href="/admin/edit_product?id=<%=productData._id%>" class=" ms-2 mt-4"><i class="fas fa-edit"></i></a><a href="/admin/delete_product?id=<%=productData._id%>"class=" ms-2 mt-4" onclick="return confirm('Are you sure you want to delete')"><i class="fas fa-trash"></i></a></td>
                </tr>
                
            </tbody>
            <% }) %> 
        </table>
        <% } %> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <%-include('./partial/footer.ejs')%>