
<%-include('../partials/header.ejs') %>
<style>
  
</style>
<div class="container addres-main-div">

    <div class="main-body">
          <div class="row gutters-sm mt-5 ">
            <div class="col-md-4 mb-3 ">
              <h4>PROFILE</h4>        
              <div class="card mt-3  ">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0"><a href="/profile" class="text-dark">Profile</a> </p>
                  
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0"><a href="/address" >Address</a> </p>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0"><a href="/order" class="text-dark">Order</a> </p>
                    
                  </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0"><a href="/change_password" class="text-dark">Privacy</a> </p>
                    
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
            <div class="card mb-3 ">
              <div class="card-body profile ">
                <% if(address) {%> 
                <% address.forEach(function(address){ %> 
                  <div class="card mt-3 " style="width: 18rem">
                    <div class="card-body">
                      <h6 class="card-title">Name: <%=address.name%> </h6>
                      <h6 class="card-subtitle mb-2 text-muted">Phone: <%=address.mobile%> </h6>
                      <h6 class="card-subtitle mb-2 text-muted">Email: <%=address.email%> </h6>
                      <h6 class="card-subtitle mb-2 text-muted">Zip-Code: <%=address.zip_code%> </h6>
        
                      <p class="card-text">Address: <%=address.address%></p>
                      
                      <a href="/edit_address?id=<%=address._id%>"><i class="fa fa-edit fa-md text-dark "></i></a>
                      <a href="delete_address?id=<%=address._id%>"  class="border border-0 bg-transparent"><i class="fa fa-trash fa-md text-dark "></i></a>
        
                    </div>
                  </div>
                  <% }) }%> 
                  <div class="card text-dark bg-light mb-3 mt-3 border border-dashed" style="max-width: 18rem;">
                    
                    <div class="card-body d-flex justify-content-center align-items-center">             
                      <p class="card-text"> <a href="/add_address" class="text-dark"><i class="fa fa-plus fa-md "></i></a></p>
                    </div>
                  </div>
                <!-- <div class="row  mb-4 address-container ms-3 ">
                  
                    <div class="col-sm-12 text-secondary address d-flex justify-content-center align-items-center ">
                     <a href="/add_address" class="text-dark"><i class="fa fa-plus fa-lg "></i></a>
                  </div>
                  
              </div> -->
            </div>
        
          </div>
        </div>
            </div>

     <!--------------------------------------------------Profile menu Ends--------------------------------------------------------------->

</div>
</div>
<%-include('../partials/footer.ejs') %>

